/* Fixed text across the whole document */
/* Fixed text across the whole document */

*{ /* Fixed text across the whole document */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body{
    background-color: rgb(29, 29, 29); /*sets the bg color of the webpage*/
    /*padding: 150px 0 0; sets the start of the body */
}


.header{ /*header has been fixed to the top of the page, 3 links */
    background-color: rgb(4, 28, 25);
    color: whitesmoke;
}

.header h1 { /*set the h1 element in the header class to be an inline-block, also set font size*/
    display: inline-block;
    color: white;
    font-size: 48px;
    padding-left: 10px;
}

.header h2 { /*set the h1 element in the header class to be an inline-block, also set font size*/
    display: inline-block; /* need to add a break and apply inline to keep navbar links in line */
    color: rgb(35, 142, 108);
    font-size: 12px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.header nav { /*setting the top-padding and right-margin, have the buttons float right, set font size and family*/
    display: inline-block;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight:bolder;
}

.header nav ul { /*remove the list style for better look, target the unordered list element*/
    list-style-type: none;
}

.header nav ul li { /*make the li elements display inline, set a left-margin*/
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 20px;
}

#Portfolio img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    top: 1500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#Portfolio figcaption{
    color: rgb(179, 179, 179);
}

footer{
    width: 100%;
    background-color: rgb(3, 43, 39);
    position:fixed;
    bottom: 0;
    left: 0;
}

.contact-form {
    padding: 50px ; /*sets the start of the body */
    width: 50%;
    background-color: rgb(39, 39, 39);
    color: rgb(178, 178, 178);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-form h3{
    color: white;
    text-align: center;
    font-size: 150%;
}

footer{
    color: grey;
    text-align: center;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: smaller;
    font-weight: 200;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    
    text-decoration: none;

  }
  
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }